#general config data
serviceUrl=https://deepthought.m0djw.net/ec-cloud-upload/client/upload
httpsCerts=/resources/https-certs.jks
httpsCertsPassword=httpsm0djw
idConfirm=yes
version=2.2.1
#data to upload
name=no
dateOfBirth=no
passportNumber=no
userName=yes
docType=yes
issuingState=yes
#is background checking to be used?
requestBackgroundCheck=no
#is a pdf to be created?
createPdf=no